* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: white;
}

.header-container button {
    background-color: #3882f6;
    border-radius: 10px;

    padding: 8px 16px;

    font-weight: bold;
}

button:hover {
    color:white;
}

container, img {
    max-width: 50%;
}

.primary-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-container {
    background-color: #1f2937;
    padding-left: 20%;
    padding-right: 20%;
}

.header-container img {
    border: #e5e7eb;
    border-style: solid;
    border-width: 1px;
}

.header-container img:hover {
    border: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0px;
}

.right-links {
    display: flex;
    gap: 16px;
    padding: 8px 0px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;

    padding: 8px 0px;
}

.header-content {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    padding: 8px 0px;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 32px;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 112px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 10%;
    flex-wrap: wrap;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    min-width: 75px;
    min-height: 115px;
    
    border-radius: 10px;
    border-width: 8px;
    border: #3882f6;
    border-style: solid;
}

.card-img img {
    scale: 1.5;
}

.quote-container {
    padding: 112px 20%;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-owner {
    display: flex;
    justify-content: flex-end;
}

.cta-container {
    display: flex;
    padding: 112px 15%;
}

.cta-box {
    display: flex;
    gap: 64px;

    border-radius: 10px;
    padding: 32px 128px;
    background-color: #3882f6;
    color: #f9faf8;
}

.cta-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-button-container button {
    background-color: #3882f6;
    color: #f9faf8;

    font-weight: bold;
    padding: 8px 16px;

    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color:#f9faf8;
}

.cta-button-container button:hover {
    background-color: #f9faf8;
    color: #3882f6;
    border-color:#3882f6;
}